<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h5">KYC Updates Detail</MudText>
    </MudCardHeader>

    <MudCardContent>
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudText>Customer ID : 0000000000020169</MudText>
            </MudItem>
            <MudItem xs="12" sm="3">
                <MudText>User Type : Customer</MudText>
            </MudItem>
            <MudItem xs="12" sm="3">
                <MudText>Status : <MudBadge Color="Color.Success">Active</MudBadge></MudText>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" Class="ml-2">Edit</MudButton>
            </MudItem>
        </MudGrid>

        <MudText Typo="Typo.h6" Class="mt-4">Customer Information</MudText>

        <MudSimpleTable Class="mt-2" Hover="true" Striped="true">
            <thead>
                <tr>
                    <th>Customer:</th>
                    <th>HLAINE SANDAR OO</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gender:</td>
                    <td>Male</td>
                    <td>Country:</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>09953062177</td>
                    <td>State:</td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td>04/03/2003</td>
                    <td>Township:</td>
                </tr>
                <tr>
                    <td>Occupation:</td>
                    <td>Dev</td>
                    <td>Address:</td>
                </tr>
                <tr>
                    <td>Father's Name:</td>
                    <td>U Ba</td>
                    <td>No.12 Latha Street</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>kkk@gmail.com</td>
                    <td></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudCardContent>
</MudCard>